<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ma Hobby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    
    {% for hobby in hobby_infos %}
        <h2>{{hobby.name}}</h2>
        
        <h3>{{hobby.info}}</h3>
        
        <img src="{{hobby.pics}}" alt="Image">
        </br>
        <a href="{{hobby.link}}">Link to further information about {{hobby.name}}</a>        
    {% endfor %}
</body>
</html>